body {
  background-color: #dbdbdb;
}

/*== GENERAL FONTS ==*/
.white {
  color: #EFEFEF;
}

.pink {
  color: rgba(246,117,153,.99);
}

.strike {
  text-decoration: line-through;
}

h3, p, li, a {
  font-family: 'Roboto', Helvetica, sans-serif;
}

h3 {
  font-size: 1.1em;
  text-transform: uppercase;
}

p {
  margin-bottom: 0px;
}

/*== GENERAL STYLE ==*/
.wide {
  width: 100%;
}

/*== GENERAL PADDING & MARGIN ==*/
.mrg-top-2em {
  margin-top: 2em;
}

.pad-1em {
  padding: 1em;
}

/*=== NAVBAR ===*/
nav ul {
  margin: 0 auto;
}

nav {
  text-transform: uppercase;
}

.bg-dark {
  background-color: #1a1a1a!important;
}

/*overwrite stubborn Bootstrap*/
.navbar-dark .navbar-nav .nav-link {
  color: rgba(246,117,153,.99);
}

.nav-item a {
  margin: 0em 1em;
}

.checkout {
  margin-left: auto;
  min-width: 100px;
}

.fa {
  font-size: 1.3em;
}

.checkout .fa {
  margin-right: 0.3em;
}


/*=== FOOTER ===*/
/* inner content of each section in the footer */
.footer-container {
  display: flex;
  flex-direction: column;
}

footer .col {
  margin: 0em 1em;
}

/*-- On Sale --*/
.tiny-product {
  display: flex;
}

.tiny-product-img {
  margin-right: 1em;
}

.tiny-text {
  font-size: 0.9em;
  text-transform: uppercase;
}

.tiny-text span:last-child {
  margin-left: 1em;
}

/*-- More Info --*/
.more-info p {
  padding: 2em 0em;
  border-bottom: 1px solid #EFEFEF;
}

.more-info h3 {
  margin-bottom: 0px;
}

/*-- general footer --*/
footer {
  background-color: #1a1a1a;
  position: relative;
}

/*-- keeps footer content from disappearing behind copyright --*/
.footer-row {
  padding-bottom: 120px;
}

footer h3 {
  border-bottom: 1px solid #EFEFEF;
  text-align: center;
  padding: 2em;
  font-weight: 300;
  margin-bottom: 2em;
}

/*-- copyright --*/
.copyright {
  min-height: 80px;
  background-color: #000;
  position: absolute;
  bottom: 0px;
  display: flex;
}

.copyright .row {
  align-items: center;
}

.copyright p {
  padding-left: 30px;
}

/*size and SMALLER*/
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
  .checkout {
    margin: 1em;
    min-width: 0px;
  }
  .navbar-nav {
    margin: 0 auto;
  }

  .navbar-brand {
    margin-right: 0px;
  }

  div.on-sale, div.more-info, div.in-the-news {
    margin-top: 3em;
  }
 }
