* {
  box-sizing: border-box;
}

body {
  background-color: #dbdbdb;
}

/*== GENERAL FONTS ==*/
.white {
  color: #EFEFEF;
}

.pink {
  color: rgba(246,117,153,.99);
}

.strike {
  text-decoration: line-through;
}

h3, p, li, a {
  font-family: 'Roboto', Helvetica, sans-serif;
}

h3 {
  font-size: 1.1em;
  text-transform: uppercase;
}

p {
  margin-bottom: 0px;
}

/*== GENERAL STYLE ==*/
.wide {
  width: 100%;
}

/*== GENERAL PADDING & MARGIN ==*/
.mrg-top-2em {
  margin-top: 2em;
}

/*=== NAVBAR ===*/
#navbarSupportedContent {
  display: flex;
  justify-content: center;
}

.checkout {
  margin-left: auto;
}


/*=== FOOTER ===*/
.footer-container {
  display: flex;
  flex-direction: column;
}

.tiny-product {
  display: flex;
}

.tiny-product-img {
  margin-right: 1em;
}

.tiny-product-text {
  font-size: 0.8em;
  text-transform: uppercase;
}

.tiny-product-text span:last-child {
  margin-left: 1em;
}

footer h3 {
  border-bottom: 1px solid #EFEFEF;
  text-align: center;
  padding: 2em;
  font-weight: 300;
  margin-bottom: 2em;
}

/* these three make the footer stick...*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  flex: 1 0 auto;
}

footer {
  background-color: #343a40;
  min-height: 500px;
}
